body{
    background-color: #000000;
}

.title {

    padding: 1px;
    text-align: left; 
}

.badge-container {
    background-color: rgba(38, 38, 38, 0.4);
    border: 2px solid rgba(0, 166, 251, 0.2);
    margin: 50px auto;
    width: 1000px;
    padding: 30px;
    text-align: left;
    overflow-x: auto;
    border-radius: 25px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.badge-container:hover {
    border-color: rgba(0, 166, 251, 0.4);
    box-shadow: 0 8px 30px rgba(0, 166, 251, 0.1);
}

.title h2{
    margin-bottom: 10px;
    color: #00a6fb;
}

.badges {
    display: flex;
    justify-content: left;
    white-space: nowrap; 
    overflow-x: auto;
    margin-top: 10px;
}

.badges::-webkit-scrollbar {
    width: 5px;
    height: 10px; 
}

.badges::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 10px; 
}

.badge {
    margin: 10px 10px; 
    text-align: center; 
    transition: filter 0.3s, box-shadow 0.3s;
}

.badge img:hover {
    filter: brightness(1.2); 
    box-shadow: 0 0 20px rgba(0, 166, 251, 0.7);
}

.badge img {
    margin-top: 5px;
    max-width: 150px;;
    border: 3px solid #00a6fb;
}

.badge p {
    text-align: left;
    font-size: 14px;
    margin-top: 10px;

}
