.work-section {
    justify-content: left;
    background: #000000;
}

.work-section h1 {
    padding: 10px 10%;
    color: #fff;
}
  
.work-list {
    padding: 20px 10%;
    background: #000000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-top: 5px;
  }


.work {
    display: flex;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    background: rgba(38, 38, 38, 0.6);
    border: 2px solid rgba(0, 166, 251, 0.2);
    max-height: 200px;
    overflow-y: scroll;
    will-change: transform;
  }

.work::-webkit-scrollbar {
    width: 5px; 
}

.work::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 40px; 
}
  
.work:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 166, 251, 0.4);
    border-color: rgba(0, 166, 251, 0.5);
  }
  
.work img{
    width: 50px;
    height: 50px;
    padding: 0%;
    margin-right: 20px;
}
.work h2 {
    margin-top: 0;
    color: #00a6fb;
  }
  
.work p {
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
}

.work .position{
    color: #00a6fb;
    font-size: 18px;
    font-style: bold;
    
}

.work .duration{
    color: #ababab;
    
}
  


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  
  